@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: gandom;
    src: url("./../public/fonts/Gandom.ttf");
}
body{
    font-family: gandom;
    direction: rtl;
}
.text-brown{
    color: #e2ae71;
}
.main-img-header{
    background-image: url("./../public/img/story-1.jpeg");
    background-color: rgba(0, 0, 0, 0.788);
}

.bg-dark{
    background-color: rgba(0, 0, 0, 0.74);
}
.main-img-feature{
    background-image: url("../public/img/back.jpg");
    height: 50vh;
}


@media (min-width:768px) {
    .text-feature{
        height: 50vh;
    }
}